* {
  margin: 0;
}

body {
  font-family: "Orbitron", sans-serif;
  font-family: "Poiret One", cursive;
  font-family: "Press Start 2P", cursive;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../jungle.jpg");
  background-position: center;
  background-size: cover;
}

#snake-board {
  background-color: rgba(9, 27, 18, 0.856);
  height: 80vmin;
  width: 80vmin;
  display: grid;
  grid-template-rows: repeat(30, 1fr);
  grid-template-columns: repeat(30, 1fr);
}

.snake {
  background-color: white;
  border: 0.25vmin solid black;
}

.food {
  background-color: yellow;
  border: 0.25vmin solid black;
}

.score {
  /* width: 30vmin;
  margin-bottom: 20px; */
  padding: 10px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.square {
  width: 20px;
  height: 20px;
  background-color: yellow;
  border: 0.25vmin solid black;
}

h2 {
  font-size: 30px;
  /* font-weight: bolder; */
  color: white;
}
