* {
  margin: 0;
}

body {
  font-family: "Orbitron", sans-serif;
  font-family: "Poiret One", cursive;
  font-family: "Press Start 2P", cursive;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/jungle.jpg");
  background-position: center;
  background-size: cover;
}

#snake-board {
  background-color: rgba(9, 27, 18, 0.856);
  height: 80vmin;
  width: 80vmin;
  display: grid;
  grid-template-rows: repeat(30, 1fr);
  grid-template-columns: repeat(30, 1fr);
  border: 1px solid rgba(255, 255, 255, 0.809);
}

.snake {
  background-color: white;
  border: 0.25vmin solid black;
}

.food {
  background-color: yellow;
  border: 0.25vmin solid black;
}

.score {
  width: 80vmin;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(9, 27, 18, 0.911);
  border: 1px solid rgba(255, 255, 255, 0.809);
  /* border-bottom: 2px solid rgb(45, 90, 56); */
}

.score img {
  width: 60px;
}

.square {
  width: 20px;
  height: 20px;
  background-color: yellow;
  border: 0.25vmin solid black;
}

h2 {
  font-size: 20px;
  font-weight: lighter;
  color: white;
  padding-left: 15px;
}

.popup {
  visibility: hidden;
  height: 90vmin;
  width: 110vmin;
  background-color: rgb(83, 167, 177);
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.popup a {
  margin-top: 0;
}

p {
  color: rgb(245, 248, 244);
  font-size: 40px;
  margin-bottom: 200px;
}

.popup img {
  width: 60vmin;
  height: 40vmin;
}

.play-again a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.play-again {
  border: 0.25vmin solid rgb(245, 191, 90);
  width: 30vmin;
  height: 7vmin;
  background-color: rgb(245, 191, 90);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.4s;
}

.play-again:hover {
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}
