* {
  margin: 0;
}

body {
  font-family: "Orbitron", sans-serif;
  font-family: "Poiret One", cursive;
  font-family: "Press Start 2P", cursive;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./jungle.jpg");
  background-position: center;
  background-size: cover;
}
